body {
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #search-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
  }
  